@charset 'utf-8';
._foot {
  width: 1240px;
  overflow: hidden;
}
._foot .foot-1 {
  padding-top: 45px ;
  overflow: hidden;
}
._foot .foot-1 ul {
  width: 1000px;
  overflow: hidden;
  float: left;
}
._foot .foot-1 ul li {
  float: left;
  text-align: center;
  width: 15%;
}
._foot .foot-1 ul li img {
  width: 50px;
}
._foot .foot-1 ul li p {
  line-height: 30px;
  color: #999;
}
._foot .foot-1 .online-server {
  float: right;
  text-align: right;
  margin-top: -18px;
}
._foot .foot-1 .online-server span {
  color: #999;
  font-size: 12px;
  line-height: 30px;
}
._foot .foot-1 .online-server p {
  color: #008cff;
  font-size: 25px;
  font-weight: 400;
  /* margin-top: -6px; */
  line-height: 35px;
}
._foot .foot-1 .online-server a {
  display: inline-block;
  height: 30px;
  padding: 0 16px;
  overflow: hidden;
  position: relative;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 20px;
  margin-top: 3px;
  font-size: 14px;
  background: #008cff;
}
._foot .foot-2 {
  /* float: left; */
  padding-bottom: 10px;
}
._foot .foot-2 .foot-2l ul {
  overflow: hidden;
}
._foot .foot-2 .foot-2l ul li {
  padding-right: 15px;
  border-right: 1px solid #d6d6d6;
  float: left;
  height: 18px;
  margin-right: 15px;
}
._foot .foot-2 .foot-2l ul li a {
  display: block;
  line-height: 18px;
  color: #999;
  font-size: 12px;
}
._foot .foot-2 .foot-2l ul li a:hover {
  color: #337ab7;
}
._foot .foot-2 .foot-2l .foot-2low a {
  color: #999;
  line-height: 27px;
  font-size: 12px;
}
._foot .foot-2 .foot-2r {
  float: right;
  margin-top: -30px;
  position: relative;
}
._foot .foot-2 .foot-2r a {
  line-height: 27px;
  font-size: 12px;
  display: inline-block;
  width: 40px;
  height: 30px;
  position: relative;
}
._foot .foot-2 .foot-2r a img {
  width: 20px;
}
._foot .foot-2 .foot-2r a > img:nth-of-type(2) {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 0px;
  display: none;
}
._foot .foot-2 .foot-2r a:hover img:nth-of-type(2) {
  display: block;
}
._foot .foot-2 .foot-2r a > img:nth-of-type(3) {
  position: absolute;
  bottom: 40px;
  left: -8px;
  width: 180px;
  display: none;
}
._foot .foot-2 .foot-2r a:hover img:nth-of-type(3) {
  display: block;
}
._foot .foot-2 .foot-2r > a:nth-of-type(2) > img:nth-of-type(3) {
  left: -50px;
}
