@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
em,
i,
b {
  font-weight: normal;
  font-style: normal;
}
li {
  list-style: none;
}
.p0 {
  padding: 0;
}
.header {
  position: absolute;
  top: 0;
  z-index: 999;
  margin-left: 15%;
}
.header ._logo > a {
  display: block;
  float: left;
}
.header ._logo > a > img {
  width: 124px;
  margin-top: 30px;
  margin-right: 20px;
}
.header ._logo ._logo-l {
  /* overflow: hidden; */
  height: 82px;
  float: left;
  position: relative;
}
.header ._logo ._logo-l > li {
  float: left;
}
.header ._logo ._logo-l > li > a {
  display: block;
  font-size: 14px;
  padding: 31px 16px 30px;
  line-height: 21px;
  transition: color 0.1s linear;
}
.header ._logo ._logo-l ._phone:hover .phone-subnav {
  display: block;
}
.header ._logo ._logo-l .phone-subnav {
  position: absolute;
  top: 100px;
  left: -100px;
  width: 1240px;
  z-index: 999;
  background-color: white;
  display: none;
}
.header ._logo ._logo-l .phone-subnav li {
  width: 150px;
  float: left;
  margin-left: 20px;
}
.header ._logo ._logo-l .phone-subnav li img {
  width: 100%;
}
.header ._logo ._logo-l .phone-subnav li p {
  text-align: center;
}
.header ._logo ._logo-l ._appdown-D {
  position: absolute;
  top: 100px;
  left: -100px;
  width: 1240px;
  z-index: 999;
  display: none;
}
.header ._logo ._logo-l ._appdown-D img {
  width: 100%;
}
.header ._logo ._logo-l ._appdown:hover ._appdown-D {
  display: block;
}
.header ._logo .shit {
  float: left;
  position: relative;
  margin-left: 15px;
}
.header ._logo .shit > a > img {
  width: 35px;
  margin-top: 28px;
  margin-left: 10px;
}
.header ._logo .shit > div:nth-of-type(1) {
  float: left;
}
.header ._logo .shit > div:nth-of-type(1) input {
  width: 150px;
  height: 35px;
  outline: none;
  border-radius: 15px;
  margin-top: 25px;
  text-indent: 1em;
}
.header ._logo .shit > div:nth-of-type(1) img {
  width: 25px;
  display: block;
  position: absolute;
  top: 30px;
  left: 110px;
}
.header ._logo .shit > div:nth-of-type(2) {
  float: left;
  margin-top: 27px;
}
.header ._logo .shit > div:nth-of-type(2):hover ul {
  display: block;
}
.header ._logo .shit > div:nth-of-type(2) img {
  width: 35px;
  margin-left: 5px;
}
.header ._logo .shit > div:nth-of-type(2) ul {
  width: 100px;
  background-color: #ccc;
  position: absolute;
  z-index: 1;
  right: 5px;
  display: none;
}
.header ._logo .shit > div:nth-of-type(2) ul a {
  display: block;
  padding: 5px 10px;
  text-align: center;
  color: black;
  font-size: 12px;
  line-height: 21px;
}
.header ._logo .shit .head2-count {
  position: absolute;
  top: 30px;
  right: -3px;
  height: 15px;
  border-radius: 50%;
  background: #c00;
  color: #fff;
  line-height: 15px;
  text-align: center;
  display: block;
  padding: 0 4px;
  text-indent: 0;
}
#banner-img-size img {
  /*  height: 650px; */
  width: 2000px;
}
._banner {
  overflow: hidden;
}
._second {
  padding-top: 30px;
}
._second img {
  width: 130px;
  display: block;
  margin: 0 auto;
}
._second p:nth-of-type(1) {
  color: #333;
  font-size: 20px;
  text-align: center;
}
._second p:nth-of-type(2) {
  font-size: 14px;
  color: #999;
  text-align: center;
}
/* 黑图 */
.section-title {
  position: relative;
  margin-bottom: 15px;
}
.section-title img {
  float: left;
  margin-left: -400px;
}
/* 两大4小手机列表 */
.phone .phone-list {
  overflow: hidden;
}
.phone .phone-list li {
  float: left;
}
.phone .phone-list li:hover {
  box-shadow: 0 0 5px 5px darkolivegreen;
}
.phone .phone-list li p {
  text-align: center;
}
.phone .phone-list > li:nth-of-type(1),
.phone .phone-list > li:nth-of-type(2) {
  width: 617px;
  height: 610px;
  background-color: white;
  box-sizing: border-box;
  padding-top: 55px;
  position: relative;
}
.phone .phone-list > li:nth-of-type(1) p:nth-of-type(1),
.phone .phone-list > li:nth-of-type(2) p:nth-of-type(1) {
  color: #333;
  font-size: 28px;
}
.phone .phone-list > li:nth-of-type(1) p:nth-of-type(2),
.phone .phone-list > li:nth-of-type(2) p:nth-of-type(2) {
  color: #333;
  font-size: 18px;
  margin-bottom: 3px;
}
.phone .phone-list > li:nth-of-type(1) p:nth-of-type(3),
.phone .phone-list > li:nth-of-type(2) p:nth-of-type(3) {
  color: #c00;
  font-size: 22px;
}
.phone .phone-list > li:nth-of-type(1) .lingquan,
.phone .phone-list > li:nth-of-type(2) .lingquan {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ff3149;
  line-height: 60px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 30px;
  top: 30px;
}
.phone .phone-list > li:nth-of-type(1) img,
.phone .phone-list > li:nth-of-type(2) img {
  width: 460px;
  display: block;
  margin: 0 auto;
}
.phone .phone-list > li:nth-of-type(1) {
  margin-right: 10px;
}
.phone .phone-small {
  background-color: white;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 8px;
  width: 303px;
  height: 375px;
}
.phone .phone-small > div p {
  text-align: center;
}
.phone .phone-small img {
  width: 230px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
.phone .phone-small p:nth-of-type(1) {
  color: #333;
  font-size: 16px;
  margin-bottom: 2px;
}
.phone .phone-small p:nth-of-type(2) {
  color: #999;
  font-size: 14px;
}
.phone .phone-small p:nth-of-type(3) {
  color: #c00;
  font-size: 22px;
}
/* 标题设置 */
.main-title {
  margin-bottom: 10px;
}
.main-title h3 {
  text-align: center;
  font-size: 30px;
}
.section-box2 {
  height: 450px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  position: relative;
}
.section-box2 a {
  width: 100%;
  height: 100%;
}
.section-box2 a img {
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  position: absolute;
  top: 0;
  left: -430px;
}
/* 商品列表 */
.product-list {
  width: 1240px;
}
.product-list ul {
  overflow: hidden;
}
.product-list ul li {
  float: left;
  position: relative;
  width: 300px;
  height: 375px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 9px;
  background-color: white;
  overflow: hidden;
  transition: all 0.3s ease;
}
.product-list ul li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.product-list ul li img {
  width: 100%;
}
.product-list ul li div {
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 5px;
}
.product-list ul li div p {
  text-align: center;
}
.product-list ul li div p:nth-of-type(1) {
  color: #fff;
  font-size: 21px;
  font-weight: 700;
}
.product-list ul li div p:nth-of-type(2) {
  font-size: 14px;
  color: #fff;
  /*  text-indent: 1em; */
}
.product-list ul li div p:nth-of-type(3) {
  font-size: 24px;
  font-weight: 700;
  color: #ebce6b;
}
.product-list ul .other-img img {
  width: 230px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.product-list ul .other-img p:nth-of-type(1) {
  color: #333;
  font-size: 16px;
}
.product-list ul .other-img p:nth-of-type(2) {
  color: #999;
  font-size: 14px;
}
.product-list ul .other-img p:nth-of-type(3) {
  color: #c00;
  font-size: 22px;
}
/* 社区分享4 */
.user-share ul .other-img img {
  width: 100%;
  margin-top: 0;
}
.user-share ul .discuss-user-info {
  top: 210px;
}
.user-share ul .discuss-user-info img {
  width: 36px;
  margin: 0 10px;
  display: inline-block;
  border-radius: 50%;
}
.user-share ul .discuss-user-info span {
  color: black;
}
.user-share ul .discuss-user-info p {
  padding: 10px 15px 15px;
  font-size: 16px;
  line-height: 27px;
  text-align: left;
  height: 66px;
}
.user-share ul .discuss-user-info i {
  color: #999;
  display: block;
  padding: 0 15px;
  margin-top: 10px;
  text-align: left;
}
/* no margin - r*/
#no-mr {
  margin-right: 0;
}
/* Flyme 7个li */
.nc-video {
  width: 1240px;
}
.nc-video ul img {
  width: 100%;
}
.nc-video ul li {
  width: 303px;
  height: 245px;
  float: left;
  margin-right: 9px;
  margin-bottom: 15px;
}
.nc-video ul li:hover {
  box-shadow: 0 0 3px 3px #ccc;
}
.nc-video ul li p {
  font-size: 16px;
  line-height: 55px;
  text-align: center;
  color: black;
}
.nc-video ul .nc-two {
  width: 615px;
}
.main {
  background-color: #F4F4F4;
}
