@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
em,
i,
b {
  font-weight: normal;
  font-style: normal;
}
li {
  list-style: none;
}
.p0 {
  width: 1240px;
  padding: 0;
}
