.shop-car-head > a {
  display: block;
  float: left;
  height: 80px;
  width: 150px;
}
.shop-car-head > a img {
  max-width: 125px;
  margin-top: 28px;
}
.shop-car-head .shop-car-l {
  float: left;
  margin-left: 30px;
  line-height: 80px;
}
.shop-car-head .shop-car-l li {
  float: left;
  font-size: 14px;
  color: #999;
}
.shop-car-head .shop-car-l li::after {
  content: '>';
  margin: 0 10px;
  color: #999;
}
.shop-car-head .shop-car-l li:nth-last-of-type(1)::after {
  content: '';
}
.shop-car-head .shop-car-l li:nth-of-type(1) {
  color: #333;
}
.shop-car-head .shop-car-r {
  float: right;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  margin-top: 20px;
}
.shop-car-head .shop-car-r li {
  float: left;
  padding: 0 20px;
}
.shop-car-head .shop-car-r li a {
  color: #666;
}
.shop-car-head .shop-car-r li a:hover {
  color: #008cff;
}
.cart {
  padding-top: 15px;
  padding-bottom: 40px;
  overflow: hidden;
  background-color: #F4F6FA;
}
.cart .container {
  background-color: white;
}
.cart .car-empty {
  height: 360px;
  width: 100%;
  margin: 10px 0 30px;
  position: relative;
}
.cart .car-empty .car-empty-content {
  position: absolute;
  top: 100px;
  left: 450px;
  width: 100%;
}
.cart .car-empty .car-empty-content img {
  margin-right: 20px;
  display: block;
  float: left;
}
.cart .car-empty .car-empty-content p {
  padding-top: 20px;
}
.cart .car-empty .car-empty-content a {
  display: block;
  width: 130px;
  height: 34px;
  line-height: 34px;
  color: white;
  background-color: #00c3f5;
  margin-left: 120px;
  text-align: center;
  border-radius: 10px;
}
